<!doctype html>
<title>ADMIN TOOLS :D</title>
<h1>Admin page</h1>
<script src="templates/jquery-3.1.1.js"></script>


<b>Do a tick;</b>
<form action="startTick" method = "post">
    <input type="submit" value="Start a Tick">
</form>
<br/>


<table>
    <tr>
        <th><b>Name</b></th>
        <th><b>temperature</b></th>
        <th>Amount stored</th>
    </tr>
    {% for item in data %}
    <tr>
            <th><th><a href=/historyGraph/{{item.node_id}}>{{item.node_id}}</a></th>
            <th>{{item.temperature}}</th>
            <th>{{item.amount}}</th>
    </tr>
    {% endfor %}
</table>


<div id="message"></div>

<script>
    // Handle the POST calls of all forms
    $(document).on("submit", "form", function(event)
    {
        event.preventDefault();

        var url=$(this).attr("action");
        $.ajax({
            url: url,
            type: $(this).attr("method"),
            dataType: "JSON",
            data: new FormData(this),
            processData: false,
            contentType: false,
            beforeSend: function()
            {
                $("#message").html("sending...");
            },
            success: function(data)
            {
                $("#message").html("");
            },
            error: function (xhr, description, error)
            {
                $("#message").html(error);
            }
        });
    });
</script>