<!doctype html>
<title>ADMIN TOOLS :D</title>
<h1>Admin page</h1>
<script src="templates/jquery-3.1.1.js"></script>

<style>
th {
    text-align: left;
    padding-right: 20px;
}

</style>

<b>Do a tick;</b>
<form action="startTick" method = "post">
    <input type="submit" value="Start a Tick">
</form>
<br/>
<p></p>
<table id = "records_table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Temperature</th>
            <th>Amount stored</th>
            <th>Enabled</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="message"></div>

<script>
    // Handle the POST calls of all forms
    $(document).on("submit", "form", function(event)
    {
        event.preventDefault();

        var url=$(this).attr("action");
        $.ajax({
            url: url,
            type: $(this).attr("method"),
            dataType: "JSON",
            data: new FormData(this),
            processData: false,
            contentType: false,
            beforeSend: function()
            {
                $("#message").html("sending...");
            },
            success: function(data)
            {
                $("#message").html("");
                updateNodeData();
            },
            error: function (xhr, description, error)
            {
                $("#message").html(error);
            }
        });
    });

    function updateNodeData()
    {
        $.get( "/nodes/", function(data) {
            updateTable(data);
        });
    }

    updateNodeData();

    function updateTable(response) {
        // Clear the old data.
        $('#records_table tbody').empty();
        // Parse all the entries.
        $.each(response, function(i, item) {
            var form = $("<form/>", {
                action: item.node_id + '/enabled/',
                method: "put"
            });
            form.append($("<input>", {
                type: "submit",
                value: item.enabled
            }));
            var node_link = $("<a/>", {href: item.node_id + "/historyGraph/", text: item.node_id});
            $('<tr>').append(
                $('<td>').append(node_link),
                $('<td>').text(item.temperature),
                $('<td>').text(item.amount),
                $('<td>').append(form)
            ).appendTo('#records_table');
        });
    }
</script>