<!doctype html>
<title>ADMIN TOOLS :D</title>
<script src="templates/jquery-3.1.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<style>
th {
    text-align: left;
    padding-right: 20px;
}

</style>
<table>
    <tr>Do a tick:</tr>
    <tr><form action="startTick" method = "post"> <input type="submit" value="Start a Tick"></form></tr>
</table>
<table id = "records_table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Temperature</th>
            <th>Amount stored</th>
            <th>Enabled</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="message"></div>
<canvas id="chart"></canvas>
<script>
    var default_node = "generator";
    var current_node = null;
    var chart = null;
    // Handle the POST calls of all forms
    $(document).on("submit", "form", function(event)
    {
        event.preventDefault();

        var url=$(this).attr("action");
        $.ajax({
            url: url,
            type: $(this).attr("method"),
            dataType: "JSON",
            data: new FormData(this),
            processData: false,
            contentType: false,
            beforeSend: function()
            {
                $("#message").html("sending...");
            },
            success: function(data)
            {
                $("#message").html("");
                updateAll()
            },
            error: function (xhr, description, error)
            {
                $("#message").html(error);
            }
        });
    });

    function updateNodeData()
    {
        $.get( "/nodes/", function(data) {
            updateTable(data);
        });
    }


    function updateTable(response) {
        // Clear the old data.
        $('#records_table tbody').empty();
        // Parse all the entries.
        $.each(response, function (i, item) {
            var form = $("<form/>", {
                action: item.node_id + '/enabled/',
                method: "put"
            });
            form.append($("<input>", {
                type: "submit",
                value: item.enabled
            }));
            var node_link = $("<a/>", {href: '#', text: item.node_id});
            node_link.click(function (evt) {
                evt.preventDefault();
                default_node = item.node_id;
                drawChart(default_node);
            });
            $('<tr>').append(
                $('<td>').append(node_link),
                $('<td>').text(item.temperature),
                $('<td>').text(item.amount),
                $('<td>').append(form),
                $('<td>').append(item.active),
            ).appendTo('#records_table');
        });
    }

    var background_colors = {
        temperature: "red",
        amount_stored: "blue",
        health: "green"
    };

    var resource_type_colors = {
        "water": "blue",
        "fuel": "brown",
        "energy": "yellow",
        "waste": "grey"
    };


    function getBackgroundColor(property)
    {
        if(property in background_colors)
        {
            return background_colors[property]
        }
        for(var resource_type in resource_type_colors)
        {
            if(property.includes(resource_type))
            {
                return resource_type_colors[resource_type]
            }
        }
    }
    function drawChart(node_id) {

        var jsonData = $.ajax({
            url: '/' + node_id + '/all_property_chart_data',
            dataType: 'json',
        }).done(function(results) {

            // Yes it's hacky. Blugh
            var labels = [];
            results.temperature.forEach(function(data, i) {
                labels.push((i + 1).toString());
            });
            var data = {
                labels: labels,
                datasets: []
            };

            for(var prop in results)
            {
                var hidden = false;

                data.datasets.push({label: prop,
                                    data: results[prop],
                                    backgroundColor: getBackgroundColor(prop),
                                    hidden: hidden
                                    });
            }

            var config = { type: 'bar',
                data : data,
                options: {
                title: {
                    display: true,
                    text: node_id
                }
            }};
            var ctx = $("#chart").get(0).getContext("2d");
            if(current_node !== node_id){
                if(chart != null)
                {
                    chart.destroy();
                }
                current_node = node_id;
                chart = new Chart(ctx, config);
            } else{
                chart.data = data;
                chart.update(0); // Draw with update 0 (we don't want animations)
            }
        });
    }
    function updateAll()
    {
        updateNodeData();
        drawChart(default_node);
    }
    updateAll();
</script>