<!doctype html>
<title>Hardware list</title>
<script type=text/javascript src="{{url_for('static', filename='jquery-3.1.1.js') }}"></script>
<style>
th {
    text-align: left;
    padding-right: 20px;
}

</style>

<table id = "records_table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Time since last update</th>
            <th>Sensors</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>

    function updateAllControllers()
    {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        url = "/controller/";
        $.get(url, function(data) {
            updateTable(data);
        });
    }

    function updateTable(response) {
        // Clear the old data.
        $('#records_table tbody').empty();
        // Parse all the entries.
        $.each(response, function (i, item) {
            $('<tr>').append(
                $('<td>').append(item.id),
                $('<td>').text(item.time_since_last_update),
                $('<td>').attr('id', item.id)
            ).appendTo('#records_table');
            // Add each sensor
            $.each(item.sensors, function(i, item_2)
            {
                $('<tr>').append(
                    $('<td>').append(item_2.name),
                    $('<td>').text(item_2.value),
                ).appendTo('#' + item.id);
            });
        });
    }

    updateAllControllers();

</script>