<!doctype html>
<title>User Management page!</title>
<script type=text/javascript src="{{url_for('static', filename='jquery-3.1.1.js') }}"></script>
<style>
th {
    text-align: left;
    padding-right: 20px;
}

</style>

<h1>User management</h1>
<h2>Current users</h2>
<table id = "records_table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h2>Add users</h2>

<form id="update">
  <label for="card">RFID card id:</label>
  <input id="card" name="card"><br>
  <label for="name">Name:</label>
  <input id="name" name="name"><br>
  <label for="email">Email:</label>
  <input id="email" name="email"><br>
  
  <p>User capabilities:</p>
  <input type="checkbox" id="see_users" class="capability"  name="see_users">
  <label for="see_users">See users</label><br>
  
  <input type="submit" value="Create user">
</form>

<script>

    function updateAllUsers()
    {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        url = "/users/?userID=".concat(urlParams.get("userID"));
        $.get(url, function(data) {
            updateTable(data);

        });
    }


    function updateTable(response) {
        // Clear the old data.
        $('#records_table tbody').empty();
        // Parse all the entries.
        $.each(response, function (i, item) {
            $('<tr>').append(
                $('<td>').append(item),
            ).appendTo('#records_table');
        });
    }

    function sendData() {
      const XHR = new XMLHttpRequest();
      const FD  = new FormData();

      // Define what happens on successful data submission
      XHR.addEventListener( "load", function(event) {
        alert( event.target.responseText );
        updateAllUsers();
      } );

      // Define what happens in case of error
      XHR.addEventListener( "error", function( event ) {
        alert( 'Oops! Something went wrong.' );
      } );

      // Set up request
      let card = $("input[name=card]").val();
      let name = $("input[name=name]").val();
      let email = $("input[name=email]").val();
      let capabilities = "&";
      $(".capability").each((i, el) => {
        if (el.checked) {
          capabilities += "ability=" + el.name;
        }
      });
    
      XHR.open( "POST", "RFID/update/" + card + "/?name=" + name + "&email=" + email + capabilities);
      XHR.send( FD );
    } 

    updateAllUsers();

    let form = document.getElementById( "update" );
    form.addEventListener( "submit", function ( event ) {
      event.preventDefault();
      sendData();
    } );

</script>
