<!doctype html>
<title>User Management page!</title>
<script type=text/javascript src="{{url_for('static', filename='jquery-3.1.1.js') }}"></script>
<style>
th {
    text-align: left;
    padding-right: 20px;
}

.table-grid {
  border-collapse: collapse;
}

.table-grid>tbody>tr>th {
  padding: 0;
}

.table-grid>thead>tr>th,
.table-grid>tbody>tr>th,
.table-grid>tfoot>tr>th,
.table-grid>thead>tr>td,
.table-grid>tbody>tr>td,
.table-grid>tfoot>tr>td {
  border: 1px solid;
}

.table-grid td{
    padding-left: 20px;
    padding-right: 20px;
}
.table-grid .table-grid td,
.table-grid .table-grid th {
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 0;
  border-left: 0;
}

.table-grid .table-grid td:last-child,
.table-grid .table-grid th:last-child {
  border-right: 0;
}


</style>

<h1>User management</h1>
<h2>Current users</h2>
<table id = "records_table" class = "table-grid">
    <thead>
        <tr>
            <th>Name</th>
            <th>Engineering level</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="message"></div>

<h2>Add users</h2>

<form id="update">
  <label for="card">RFID card id:</label>
  <input id="card" name="card"><br>
  <label for="name">Name:</label>
  <input id="name" name="name"><br>
  <label for="email">Email:</label>
  <input id="email" name="email"><br>

  <p>User capabilities:</p>
  <input type="checkbox" id="see_users" class="capability"  name="see_users">
  <label for="see_users">See users</label><br>

  <input type="submit" value="Create user">
</form>

<script>
    $(document).on("submit", "form", function(event)
    {
        event.preventDefault();

        var url=$(this).attr("action");
        $.ajax({
            url: url,
            type: $(this).attr("method"),
            dataType: "JSON",
            data: new FormData(this),
            processData: false,
            contentType: false,
            beforeSend: function()
            {
                $("#message").html("sending...");
            },
            success: function(data)
            {
                $("#message").html("");
                updateAll()
            },
            error: function (xhr, description, error)
            {
                $("#message").html(xhr.responseText);
                $([document.documentElement, document.body]).animate({scrollTop: $("#message").offset().top}, 500);
            }
        });
    });

    function updateAllUsers()
    {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        url = "/user/";
        $.get(url, function(data) {
            updateTable(data);
        });
    }

    function updateTable(response) {
        // Clear the old data.
        $('#records_table tbody').empty();
        // Parse all the entries.
        $.each(response, function (i, item) {

            var form = $("<form/>", {
                action: "/user/" + item.id + "/",
                method: "put"
            });
            form.append($("<input>", {
                type: "text",
                value: item.engineering_level,
                id: "engineering_level",
                name: "engineering_level"
            }));
            form.append($("<input>", {
                type: "submit",
                value: "update"
            }));

            $('<tr>').append(
                $('<td>').text(item.id),
                $('<td>').append(form)
            ).appendTo('#records_table');
        });
    }

    function sendData() {
      const XHR = new XMLHttpRequest();
      const FD  = new FormData();

      // Define what happens on successful data submission
      XHR.addEventListener( "load", function(event) {
        alert( event.target.responseText );
        updateAllUsers();
      } );

      // Define what happens in case of error
      XHR.addEventListener( "error", function( event ) {
        alert( 'Oops! Something went wrong.' );
      } );

      // Set up request
      let card = $("input[name=card]").val();
      let name = $("input[name=name]").val();
      let email = $("input[name=email]").val();
      let capabilities = "&";
      $(".capability").each((i, el) => {
        if (el.checked) {
          capabilities += "ability=" + el.name;
        }
      });

      XHR.open( "POST", "RFID/update/" + card + "/?name=" + name + "&email=" + email + capabilities);
      XHR.send( FD );
    }

    updateAllUsers();

    let form = document.getElementById( "update" );
    form.addEventListener( "submit", function ( event ) {
      event.preventDefault();
      sendData();
    } );

</script>
